<!DOCTYPE html>
<html lang="<%= locale %>">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= display_meta_tags site: site_info(:title),
                        description: site_info(:description),
                        keywords: site_info(:keywords),
                        reverse: true %>
  <link rel="icon" type="image/png" href="/favicon.png"/>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render 'shared/header' %>
<div class="container">
  <br/>
  <%= render 'shared/flash' %>
  <%= yield %>
  <%= render 'shared/footer' %>
</div>
</body>
</html>
